################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/AutoInventoryPro/.vs
/AutoInventoryPro/AutoInventoryPro.Controller/obj
bin/
obj/
.vs/
*.user
*.suo
.vscode/
*.nupkg
